*{
	margin: 0;
	padding: 0;
}
body{
	color: #545454;
	font-size: 13px;
	font-family: "Microsoft Yahei";
	background: url(../img/bodybg.png) repeat;
	position: relative;
}
a{
	color: #545454;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
ol,ul{
	list-style: none;
}
p,h1,h2,h3,h4{
	font-weight: normal;
}
.leftcartoonbg{
	width: 215px;
    height: 447px;
    background: url(../img/left-cartoon-bg.png) no-repeat;
    position: absolute;
    left: 60px;
}
.rightcartoonbg{
	width: 215px;
    height: 447px;
    background: url(../img/right-cartoon-bg.png) no-repeat;
    position: absolute;
    right: 0px;
}
.top{
	border-top: 2px solid #1e6da5;
    border-bottom: 1px solid #CECECE;
    height: 32px;
    line-height: 32px;
    background-color: #F5F5F5;
}
.top-center{
	position: relative;
	width: 1000px;
    height: 32px;
    margin: 0 auto;
}
.top-center ul{
	position: absolute;
	top: 0;
	right: 0;
}
.top-center ul li{
	float: left;
	margin-right: 25px;
}
.top-mail label{
    display: inline-block;
    width: 98px;
    font-size: 13px;
}
#form1 label img{
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	padding-right: 4px;
	margin-bottom: 3px;
}
.mail-input{
	border: 1px solid #CECECE;
    height: 14px;
    line-height: 14px;
    padding: 3px;
    width: 150px;
    margin-left: 4px;
}
.mail-btn{
	background-color: #1e6da5;
    padding: 4px 4px 4px 10px;
    border: 0px none;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px;
    letter-spacing: 6px;
    margin-left: 4px;
}
.top-contact{
	float: left;
    display: inline;
    margin: 0 25px 0 16px;
}
#top-a{
	padding-left: 4px;
	font-size: 13px;
}
.top-contact img{
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 4px;
}
#top-a:hover{
	text-decoration: underline;
}
.top-search{
	margin-left: 8px;
}
.top-search img{
	width: 18px;
	height: 18px;
	vertical-align: middle;
}
.top-pic{
	width: 1000px;
	height: 180px;
	margin: 0 auto;
	background: url(../img/toppic-bg.jpg) no-repeat;
	background-size: cover;
}
.nav{
	background-color: #1e6da5;
    width: 1045px;
    height: 52px;
    margin: 0 auto;
    line-height: 52px;
    position: relative;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    overflow: visible;
    position: relative;
}
.nav-left{
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
    border-right: 20px solid #1e6da5;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 42px;
    left: 0px;
}
.nav-right{
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
    border-left: 20px solid #1e6da5;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 42px;
    right: 0px;
}
.nav-main{
	padding: 0px 18px 0px 22px;
    overflow: hidden;
}
.nav-main li{
	float: left;
	display: inline;
}
.nav-main li a{
	position: relative;
    padding: 6px 9px;
    font-size: 15px;
    color: #FFF;
    border-right: 1px solid #5A5949;
    font-family: "SimHei";
    text-decoration: none;
}
.nav-main li:first-child{
	margin-left: 32px;
}
.nav-main li:last-child a{
	border: none;
}
.nav-main li a:hover{
	color: #92AFD2;
}
.container{
	background-color: #FFF;
    padding: 20px 15px;
    width: 970px;
    overflow: hidden;
    margin: 0 auto;
}
.c-left{
	float: left;
    width: 322px;
}
.help{
	margin-bottom: 8px;
    overflow: hidden;
}
.help a{
	display: block;
    width: 156px;
    height: 69px;
    float: left;
    margin: 0px 5px 10px 0px;
    text-indent: -9999px;
}
.notice-hd{
	background-color: #1e6da5;
    height: 26px;
    line-height: 26px;
    padding: 0px 12px;
    position: relative;
}
.notice-hd h2{
    font-size: 15px;
    line-height: 26px;
    color: #FFF;
    text-indent: 34px;
    background: url(../img/sprite.png) no-repeat -474px -119px;
    display: inline-block;
}
.notic-banner{
	height: 160px;
	padding: 8px 12px 5px;
    overflow: hidden;
    border-width: 0px 1px 1px;
    border-style: none solid solid;
    border-color: -moz-use-text-color #1e6da5 #1e6da5;
}
.notic-wrap{
	height: 28px !important;
}
#no-sw{
	height: 28px !important;
}
#no-sw li{
	background: url(../img/sprite.png) no-repeat -488px -148px;
    text-indent: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#no-sw li a:hover{
	text-decoration: underline;
	color: #1e6da5;
}
.ad-slide01{
	width: 321px;
    height: 69px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.notice-hd a{
	float: right;
	display: inline-block;
	font-size: 14px;
	color: #FFF;
}
.notice-hd a:hover{
	text-decoration: underline;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
}
.notic-list li{
	background: url(../img/sprite.png) no-repeat -488px -142px;
    clear: right;
    line-height: 28px;
    text-indent: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.notic-list li a:hover{
	text-decoration: underline;
	color: #1e6da5;
}
.ad-slide02{
	width: 332px;
    height: 96px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.c-right{
	float: right;
    width: 634px;
}
.location{
	padding: 10px 0px;
    border-bottom: 2px solid #1e6da5;
    text-indent: 35px;
    font-size: 13px;
    background: url(../img/sprite.png) no-repeat -475px -168px;
}
.location a:hover{
	color: #1e6da5;
	text-decoration: underline;
}
.artical{
	padding: 30px 15px 10px;
}
.artical-content{
	font-size: 14px;
    line-height: 26px;
}
.artical-content p{
	margin-bottom: 15px;
}
#ac-p{
	text-indent: 2em;
}
.f-content{
	padding: 10px 20px;
    overflow: hidden;
    width: 926px;
}
.f-content p{
	margin-bottom: 10px;
}
.f-content p a{
	border-right: 1px solid #666;
	margin-right: 10px;
	padding-right: 10px;
	height: 12px;
    display: inline-block;
    line-height: 12px;
}
.f-content p a:last-child{
	border: none;
}
.f-content p a:hover{
	color: #1e6da5;
	text-decoration: underline;
}
.f-content ul li{
	float: left;
	margin: 0px 26px 15px 0px;
}
.footer-content{
	background: #4E5254;
	color: #FFF;
}
.footer{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.col-md-2{
	width: 14.6667%;
	padding: 10px;
    line-height: 25px;
    display: inline-block;
}
.col-md-2 ul li a{
	color: #FFF;
}
.col-md-2 ul li:first-child{
	margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
}
.col-md-2 img{
	height: 137px;
	width: 137px;
	float: right;
	display: inline-block;
	position: absolute;
	right: 20px;
	top: 36px;
}
.copyright{
	text-align: center;
	margin-top: 20px;
}
.copyright p,.copyright p a{
	color: #FFF;
}
.boottom-p{
    height: 30px;
	background-color: #1E1E1E;
	margin-top: 20px;
	text-align: center;
	line-height: 30px;
	color: #FFF;
}
.col-md-2 ul li a:hover{
	text-decoration: underline;
}




